!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Todo List
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

  %body
    = flashes
    = yield
